header {
    height: 15%;
}
main {
    background-color: lightsteelblue;
    height: 75%;
}

footer {
    height: 10%;
}

form {
    background-color: lightsteelblue;
}

#div1 {
    background-color: lightsteelblue;
}

